body {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

body {
  min-width: 550px;      /* 2x LC width + RC width */
}

#container {
  padding-left: 200px;   /* LC width */
  padding-right: 150px;  /* RC width */
}

#container .column {
  position: relative;
  float: left;
}

#center {
  width: 100%;
  padding: 33px;
}

#left {
  width: 200px;          /* LC width */
  right: 200px;          /* LC width */
  margin-left: -100%;
}

#right {
  width: 150px;          /* RC width */
  margin-right: -150px;  /* RC width */
}

#footer {
  clear: both;
}

