body {
    background: #5D5D5D;
    color: #FFF;
}

h1 {
    color: #FF0000;
}

h2 {
    color: #FF4141;
}

#main {
    float: left;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;
}

big {
    color: dodgerblue;
}

code {
    color: dodgerblue;
}

#sidebar {
    float: right;
    width: 200px;
    color: #FFFFFF;
    background: #3D3D3D;
    text-align: center;
    left: 55px;
    right: 55px;
    border-radius: 10px;
}

a {
    color: green;
    text-decoration: none;
}
