body {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.repo-list {
    list-style-type: none;
    padding: 0;
}

.repo-list li {
    margin-bottom: 10px;
}

.repo-list li a, .blog {
    display: block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.blog {
    background-color: #007FFF;
}

.repo-list li a:hover {
    background-color: #e2e2e2;
}

a {
    width: 200px;
    display: inline-block;
    text-align: center;
}

.inline {
    max-width: 590px;
    display: inline-block;
}

em {
    font-style: normal;
    color: #666;
}