body {
    background: #5D5D5D;
    color: #FFF;
}

body .hide {
    overflow: hidden;
}

h1 {
    color: tomato;
}

h2 {
    color: moccasin;
}

#main {
    float: left;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;
}

big {
    color: #005DFF;
}

#sidebar {
    float: right;
    width: 200px;
    color: #FFFFFF;
    background: #3D3D3D;
    text-align: center;
    left: 55px;
    right: 55px;
    border-radius: 10px;
}

a {
    color: FF8700;
    text-decoration: none;
}

.line{
    width: 200px;
    height: 1px;
    border-bottom: 1px solid #545454;
    position: absolute;
    margin: 0 auto;
}

pre {
  font-family: "Courier New", Courier, serif;
  background-color: #DDDDDD;
  margin: 4em auto;
  border-radius: .3em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0.33;
  counter-reset: line;
  display: inline;
}

span {
    display: inline-block;
    line-height: 1.5rem;
    color: black;
    margin-left: 3px;
    
    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888
    }
  }
}

.hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.italic {
    font-style: italic;
}