body {
    color: #111;
    background: url(img/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pagelist {
    margin: auto;
    width: 90%;
    padding: 10px;
    font-size: 75%;
    color: rgba(255,255,255,0.15);
}

#pagelist a {
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    background: rgba(255,255,255,1);;
    display: inline-block;
    color: #3FAD00;
    padding: 6px 40px;
    position: relative;
    text-decoration: inherit;
    border-radius: 1px solid;
    border-color: #000000;
}

#pagelist a:before {
    content: '';
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0px;
    left: 0px;
}

#pagelist a:hover {
    color: #061DBB;
    background-color: rgba(255,255,255,0.025);;
}

#logo {
    text-align: right;
}

#logo img {
    padding-right: 20%;
    width: 150px;
    height: 88px;
}

#content {
    background-color: rgba(255, 255, 255, 0.15);
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1)
}

#pad {
    background-color: #FFF;
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid;
    border-color: #333;
}

#footer {
    position: relative;
    top: -36px;
    text-align: left;
}

#footer img {
    padding-left: 10%;
    width: 100px;
    height: 75px;
}

#map {
    height: 400px;
    width: 100%;
}

#content img#location {
    padding-left: 35px; 
}

#content img#meats {
    width: 100%;
}

#content #alignright {
    text-align: right;
}

#content #timing {
    color: #FF2314;
    text-align: center;
}

#content table {
    text-align: left;
    column-gap: 25px;
}

#content table b {
    color: #FF2314;
}

#center {
    text-align: center;
}

table  img {
    width: 100px;
    height: 700px;
}

table {
    margin: auto;
}

th img {
    width: 225px;
    height: 300px;
}