body {
    background-image: url("./img/background.png");
    background-size: cover;
}

div#contentmid {
    width: 60%;
    left: 50%;
    margin-left: 18.5%;
}

div#container {
    border-style: solid;
    border: 5px groove rgba(255, 255, 255, 0.075);
    background-color: rgba(255, 255, 255, 0.075);
}

div#center {
    width: 80%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#navigator {
    height: 85px;
    width: 100%;
    background-color: white;
    text-align:center;
}

div#navigator div.midnav {
    display: table;
    margin: 0 auto;
}

div#navigator ul {
    list-style-type: none;
    padding-top: 20px;
}

div#navigator ul li {
    display: inline;
}

div#navigator ul li a {
	padding: 5px 9px;
	background: #1F357D;
	color: #FFF;
    text-decoration: none;
    margin: 2px;
}

div#navigator ul li a:hover {
	background: #264299;
	color: #FF2F5B;
    margin: 1px;
    padding: 6px 10px;
}

a.maplink {
	padding: 4px 5px;
	background: #1F357D;
	color: #FFF;
    text-decoration: none;
    margin: 2px;
}

a.maplink:hover {
	background: #264299;
	color: #FF2F5B;
    margin: 1px;
    padding: 4px 5px;
}

div#comment {
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-style: italic;
    font-size: small;
}

div#address {
    color: #1F357D;
    font-style: italic;
    font-size: small;
}

div#content {
    background-color: white;
    padding: 10px;
}

table#info {
    text-align: right;
    text-decoration: none;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 50px 0;
}

th {
    font-weight: normal;
    vertical-align: top;
}

hr { 
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

img#fit {
    width: 100%;
}

table#left {
    text-align: left;
    text-decoration: none;
    vertical-align: top;
    border-collapse: separate;
}

#green {
    color: #009900;
}

#blue {
    color: #1F357D;
}